{% extends 'base.html' %}
{% block title %}Clothes List{% endblock %}

{% block content %}
<div class="container">
    <h1>Clothes</h1>
    <a href="{{ url_for('clothes.create_clothes') }}" class="btn btn-primary mb-3">Add New Clothes</a>
    <div class="list-group">
        {% for c in clothes %}
            <a href="{{ url_for('clothes.get_clothes', id=c['id']) }}" class="list-group-item list-group-item-action">
                {{ c['name'] }} ({{ c['type'] }})
            </a>
        {% else %}
            <p>No clothes found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
